{%extends 'base.html'%}
{% load static %}
{% block content %}
    <section id="about">
    <div class="container">
        <h6 class="title-of-main" align="center">Сведения об организации</h6>
        <p class="text-center">
            AllHome помогают найти специалистов для решения различных задач, например 
            <br>установить бытовую технику, провести электропроводку, сделать ремонт в квартире или произвести химчистку мебели.
        </p>
        <p class="text-center">
            Для создания заказов необходимо авторизоваться.
            <br>Вы можете просмотреть профили специалистов и выбрать исполнителя.
            <br>Разместить информацию об услугах может как частное лицо, так и организация.
        </p>
        <h6 class="title-of-main" align="center">Контактная информация</h6>
        <p class="text-center">
            Место нахождения: г. Северодвинск, пр-кт Победы, дом 26.
            <br>Режим работы: понедельник-пятница с 10:00 до 19:00, суббота, воскресенье - выходные дни.
        </p>

        {% if user.is_authenticated and not request.user.employer.employer_position.title == "Менеджер" %}
            <p class="text-center">
            Если у Вас остались какие-либо вопросы, пожалуйста, воспользуйтесь формой обратной связи.
            </p>
        <div class="row text-center">
            <div class="col-auto">
                <form action="{% url "contacts" %}" method="post">
                    {% csrf_token %}
                    <b>Обратная связь</b><br>
                    <div class="row mb-4">
                        <div class="col-11">
                            <textarea class="form-control" name="message" id="id_contact" rows="4"></textarea>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-secondary">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}

    </div>
    </section>
{% endblock content %}