{%extends 'base.html'%}
{% load static %}
{% block content %}
    <section id="about">
    <div class="container">
        <h6 class="title-of-main" align="center">ПОЛОЖЕНИЕ О ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ
        <br>ПЕРСОНАЛЬНЫХ ДАННЫХ</h6>
        <br>
        <br>1. ОБЩИЕ ПОЛОЖЕНИЯ
        <br>
        <br>Настоящее Положение о политике конфиденциальности персональных данных является
        <br>официальным документом ОАО "AllHome",
        <br>и определяет порядок обработки персональных данных и меры по обеспечению
        <br>безопасности персональных данных физических лиц (далее - "Субъект персональных данных",
        <br>"Субъект"), пользующихся сервисами, информацией, услугами, программами и продуктами
        <br>Оператора на сайте, расположенном на доменном имени (домен) (далее - "Сайт").
        <br>
        <br>Оператор ставит своей целью и условием осуществления своей деятельности соблюдение прав и
        <br>свобод человека и гражданина при обработке его персональных данных, в том числе защиту прав
        <br>на неприкосновенность частной жизни, личную и семейную тайну от несанкционированного
        <br>доступа и разглашения.
        <br>Обработка персональных данных осуществляется на законной и справедливой основе, действуя
        <br>разумно и добросовестно и на основе принципов:
        <br>законности целей и способов обработки персональных данных;
        <br>добросовестности;
        <br>соответствия целей обработки персональных данных целям, заранее определенным
    </div>
    </section>
{% endblock content %}