{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row row-cols-lg-4 row-cols-md-2">
    {% for item in masters %}
    <div class="col" style="margin-top: 2em">
        <div class="card custom-card">
            <div style="height: 60%;">
                <img src="{{ MEDIA_URL }}{{ item.image.url}}" class="card-img-top">
            </div>
            <div class="card-body custom-card-body">
                <div style="height: 60%">
                    <h5 style="margin-bottom: 0.2em; margin-top: 1em">{{ item.employer.get_full_name }}</h5>
                    <div style="color: #8C8581; font-weight: bold">{{ item.category.title }}</div>
                </div>
                 <div class="text-end" style="height: 40%">
                    <a class="btn custom-button-pill" href="{% url 'masters' %}">Отзывы</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<style>
    .custom-card-body {
        height: 30%;
        width: 100%;
        padding: 0.8em;
        margin-top: -0.1%;
        border-radius: 0em 0em 2em 2em;
        background: #D9D2D0;
    }

    .custom-card {
        height: auto;
        border-radius: 2em;
        aspect-ratio: 2/3;
        background: #3B403F;
        border-style: none;
        box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.4);
    }

    .card-img-top {
        width: 100%;
        /* заполнение ширины оболочки */
        /* заполнение высоты оболочки */
        object-fit: cover;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    .tag-img {
        width: 1.2em;
        /* заполнение ширины оболочки */
        height: 1.2em;
    }

    .custom-button-pill {
        border-radius: 1000px;
        background: #D9D2D0;
        color: #2d2413;
        font-weight: bolder;
        padding: 0.3em;
    }

    .custom-button-pill:hover {
        border-radius: 1000px;
        background: #D9D2D0;
        color: #8C8581;
        font-weight: bolder;
    }
</style>
{% endblock content %}