{% block content %}
<div class="navigation">
    <div class="logo">
        <p>
            AllHome
        </p>
    </div>
    <div class="right-site-navig">
    </div>
    {% if not user.is_authenticated %}
        <a class="btn btn-dark btn-navbar" href="{% url 'contacts' %}">О нас</a>
        <a class="btn btn-dark btn-navbar" href="{% url 'catalog' %}">Услуги</a>
        <a class="btn btn-dark btn-navbar" href="{% url 'masters' %}">Исполнители</a>
    {% endif %}

    {% if request.user.is_authenticated %}
    <div class="nav-item">
        <a class="nav-link" href="{% url "home_page" %}"> Добро пожаловать, {{user.first_name}}</a>
    </div>

        {% if not user.is_staff and not request.user.employer.employer_position.title == "Мастер" %}
            <a class="btn btn-dark btn-navbar" href="{% url 'zayavki' %}">Заявка на услуги</a>
        {% endif %}

        {% if user.is_staff %}  
            <a href="/admin" class="btn btn-dark btn-navbar">Админ-панель</a>
            {% if not request.user.employer.employer_position.title == "Директор" %}    
            <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle btn-navbar" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Отчеты
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "reports_virychka" %}">Отчет по выручке за день</a></li>
            <li><a class="dropdown-item" href="{% url "reports_virychka_month" %}">Отчет по выручке за период</a></li>    
            <li><a class="dropdown-item" href="{% url "reports_masters" %}">Отчет по выходам исполнителей за день</a></li>
            <li><a class="dropdown-item" href="{% url "reports_masters_summa" %}">Отчет по выручке исполнителей за период</a></li>    
            </ul>
            </div>
            {% endif %}    
            <a class="btn btn-dark btn-navbar" 
            href="{% url 'profile' pk=user.pk %}">Личный кабинет</a>
        {% else %}
            <a class="btn btn-dark btn-navbar" 
            href="{% url 'profile' pk=user.pk %}">Личный кабинет</a>
        {% endif %}

        {% comment %} {% if request.user.employer.employer_position.title == "Мастер" %}!!!{% endif %} {% endcomment %}

        <a class="btn btn-dark btn-navbar" href="{% url 'contacts' %}">О нас</a>
        <a class="btn btn-dark btn-navbar" href="{% url 'catalog' %}">Услуги</a>
        <a class="btn btn-dark btn-navbar" href="{% url 'masters' %}">Исполнители</a>
        <a class="btn btn-dark btn-navbar" href="{% url 'logout' %}">Выход</a>
    {% else %}
        <a class="btn btn-dark btn-navbar" href="{% url 'login' %}">Вход</a>
    {% endif %}
</div>
    
<style>
    .btn-navbar {
        text-wrap: nowrap;
        margin-left: 0.5em;
        margin-right: 0.5em; 
        background-color: #8C8581; 
        color: inherit
    }
    
    .btn btn-info {
        margin-left: 1em;
         color: white;
        background-color: bisque;
    }
    
    .logo {
        font-size: 25px;
        margin-top: 0.7em;
        justify-content: left;
    }

    .navigation {
        display: flex;
        position: sticky;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .right-site-navig {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
    }
</style>
{% endblock content %}